{% extends 'base.html.twig' %}

{% block title %}Payment Success!{% endblock %}

{% block body %}

    {{ parent() }}
   {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<header>

</header>
<section class="pt-150 cuerpo">
<div class="col-lg-8 offset-lg-2">
    <h1>!Gracias por su pedido¡</h1>
    
       <h2>Se ha enviado a su correo una copia de la factura.</h2>
       <h2>Tambien puede descargarla pinchando <a href="">aqui</a>.</h2>
       <h2>Si tiene cualquier problema, no dude en contactarnos: <a href="mailto:infoaires@contacto.com">infoaires@contacto.com</a>.</h2>        
       <h3><a href="/">Volver al inicio</a></h3>
</div>
</section>

{% endblock %}